<!DOCTYPE html>
<html>
<head>
	<title>file size api</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<body class="text-center">

    <div class="page-header">
       <h1>file size api</h1>
    </div>

    <h4>submit a file to view its size</h4>

    <form action="/upload" method="POST" role="form"  enctype="multipart/form-data">

    	<input id="file" type="file" name="recfile" />

    	<button type="submit" class="btn btn-primary">Submit</button>

    </form>

    <br><br><br>

   	<a class="repo" href="https://github.com/makkBit/file-metadata-microservice" target="_blank">click here for github repo</a><br><br>

    <p>made by<a href="https://twitter.com/makk_bit" target="_blank"> mahak</a></p>

</body>
</html>