
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Bungee');


body {
  background-color: #444!important;
}
h4,h1{
	color:green !important;
	font-family: 'Bungee', cursive !important;
}


p, .repo{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	color: black;
	font-weight: bold;
	color:black;
}
.repo{
	color: #009ACD;
}
a{
	text-decoration: none !important;
}


#file{
	border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #DDD;
    text-align: center;
    font-family: calibri;
}
